@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;1,6..72,200;1,6..72,300;1,6..72,400&display=swap');

html {
    font-size: 14pt;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color:black; 

    overflow-x: visible;
}

.link-ref {
    padding: 3em;
    font-family:'Newsreader';
}

#sticky-nav-button {
    position: fixed;
    left: 1.5em;
    top: 1.5em;


    width: 30px;
    height: 30px;
    border: 2px solid aliceblue;
    z-index: 30;
    
}

#sticky-nav-button:hover {
    background-color: aliceblue;
}

.index-box {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: 20em;
    
    background-color: rgb(198, 209, 236);
    
    z-index: 30;
}

.index-box h2 {
    font-family: 'Newsreader';
    font-weight: 300;
    padding: 1em;
    font-size: 2em;
    text-align: center;

}

.close{
    position: absolute;
    float: right;
    top:  10px;
    right: 10px;

    width: 32px;
    height: 32px;
    opacity: 0.3;
    background-color: aqua;

    display:block;
}

.close:hover {
    opacity: 1;
    cursor: pointer;
  }
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #333;
  }
.close:before {
    transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#book-container{
    display: grid;
    grid-template-columns: [first] auto [second] 640px [third] auto [forth];
    overflow-y: scroll;
    width: 100%;
    height: 800px;
}  

/* Book */
.container {
    grid-column-start: 2;
    grid-column-end: third;
    position: absolute;
    background-color:#F6F4F1;
    width: 640px;
    height: 800px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(270deg, #F6F4F1 91.54%, #823030 100%);

    overflow-y: scroll;
    overflow-x: visible;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    z-index: 1;


}

#intro-section {
    position: relative;
    display: block;
    width: 100%;
    height: 800px;
    padding: 2em;
    margin: 0;
    background: linear-gradient(90deg, #F6F4F1 10.54%, #823030 58%);

}

#title {

    font-family: 'Newsreader';
    font-weight: 400;
    font-size: 24px;
    text-align:left;

}

#author {
    font-family: 'Newsreader';
    font-weight: 400;
    font-size: 20px;

}

#start-button {
    display: block;
    position: absolute;
    top: 20em;

    background:none;
    border: none;
    color:darkred;

    font-family: 'Newsreader';
    font-size: 20px;

}

#start-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#the-book{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

#book-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(270deg, #F6F4F1 80.54%, #823030 100%);

    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140.5%;
    text-indent: 22px;
    color: #000000;    


    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#book-title {
    position: relative;
    display:inline-block; 
    top: 5em;
}

#book-page h1 {

    font-family: 'Newsreader';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 3em 1em 5em 1em;

}
#body-text {
    position: relative;
    padding: 0em 2.5em 1em 4em;
    line-height: 2;
}

#quotation {
    display: inline-block;
    padding-left: 1.5em;
    font-style:italic;
}

.underline {
    text-decoration: underline 3px;     
    text-decoration-color:blue;
    text-decoration-thickness: 2;  
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container::-webkit-scrollbar {
    display: none;
}
#book-page::-webkit-scrollbar {
    display: none;
}

/* Annotations */
.annotate-wrapper {
    position:relative;
    grid-column-start: first;
    grid-column-end: second;
    width: calc((100vw - 640px)/2);
    height: 100%;

    z-index: 10;
    white-space: nowrap;
    overflow: visible;

}

.annotation-space {
    position:fixed;
    display: block;
    background-color: rgba(185, 123, 123, 0.7);
    opacity: 0.5;
    width: calc((100vw - 640px)/2);
    height: 100%;
}

#space-left{

    /* background-color:rgb(29, 29, 29); */
    border: 1px solid #F6F4F1;
    left: 0;


}

#space-right{
    /* background-color: rgb(44, 44, 44); */
    right:0;
    border: 1px solid #F6F4F1;
}

.annotate{
    position:absolute;
    margin: 0;
    top: 25% ;
    left: 100px;
    width: 350px;
    height: 100px;
    background-color: cornflowerblue;
}

#one {
    top: 1000px;
}



/*  */
/* https://css-tricks.com/snippets/jquery/smooth-scrolling/ */


/* Display on scroll *

https://css-tricks.com/scroll-triggered-animation-vanilla-javascript/
https://alvarotrigo.com/blog/css-animations-scroll/

https://www.youtube.com/watch?v=VplDlwLTR50
https://www.youtube.com/watch?v=yGqDZVri-tg
*/
